@charset "utf-8";

.player {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  opacity: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.2);
}

.playerActivator {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  opacity: 0;
  z-index: 100;
}
